/* common css start */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
h1{
    font-size: 55px;
    line-height: 60px;
}
p{
    font-size: 16px;
}
.half_width{
    width: 50%;
    
}
.red_button{
    text-decoration: none; 
    background: #DD0000;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}
/* transition used */
.red_button:hover{
    
    background: #07800d;
    color: #fff;
    transition:   2s;
    outline: 1px solid #8d7b05;
    cursor: pointer;
    
}
/* common css end */
/* banner section start */

header{
    display: flex;
    justify-content: center;
}
#banner{
    width: 1100px;
}
.banner_items{
    display: flex;
    justify-content: space-evenly;
    
    background:  #161616;
    border-radius: 20px;
    
}
.banner_info{
    color: #fff;
    height: 500px;
    border-radius: 30px;
    padding-left: 5%;
}
.banner_info .banner_paragraph{
    text-align: left;
}
.banner_button { 
    padding-top: 20px;   
}
.banner_button i{ 
    padding-left: 5px; 
}
.banner_image{
    padding-left: 40px;
}
.banner_image img{
    width: 80%;
    height: calc(100% - 20px);
    margin-top: 20px;
    
}

/* banner section end */
/* main section start */
#main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.main_content{
    width: 1100px;
    display: flex;
    justify-content: center;
}
.left_content{
    width: 25%;
}
.left_button_items{
    background:#161616;
    border-radius: 6px;
    height: 300px;
}
.left_button_items ul {
   padding: 30px;
   /* margin-top: 20px; */
}
.left_button_items ul li{
    list-style: none;
    width: 220px;
    height: 40px;
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    padding-top: 10px;
    
}
.left_button_items ul .red_blog{
    background: #DD0000;
    color: #fff;
}
.left_button_items ul .red_blog a{
    
    color: #fff;
}
.left_button_items a{
    
    text-decoration: none;
    color: #161616;
}
/* right content 75% */
.right_content{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
.blogs{
    margin-left: 20px;
    box-shadow: 0px 1px 4px 1px #757c7562 ;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5%;
}
.blog_image img{
    width: 100%;
}
.right_content .blog_info {
    width: 100%;
    padding: 6px;
    
}
.right_content .blog_info h4{
    font-size: 15px;
}
.right_content .blog_info .icon{
    display: flex;
    align-items: center;
    
}
.right_content .blog_info .icon img,
.right_content .blog_info .icon span{
    padding-right: 4px;

}

.right_content .blog_info .icon  .time{
    padding-right: 40px;

}
.right_content .hidden_item {
    display: flex;
    justify-content: center;
    visibility: hidden;

}
.right_content .hidden_item button{
    padding: 13px 40px;
    background: #e91313;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;

}
/* main section end */
/* footer start */
footer{
    background: #161616;
    height: 280px;
}
.footer_items{
   padding-top: 25px;
   
    color: #fff;
}
.footer_items h3{
    font-size: 35px;
    text-align: center;
}
.footer_items hr{
    width: 86%;
    background: #ffffff11;
    /* height: 4px; */
    padding: 0;
}
.menu ul {
    display: flex;
    justify-content: center;
    
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
}
nav .social {
    display: flex;
    justify-content: center;
    
}
nav .social i{
    font-size: 25px;
    color: #e4d4d4;
    
    padding-right: 20px;
}
/* =========for Upcomimg page start========== */

.right_content .blog_image_upcoming{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.right_content .blog_image_upcoming img{
    padding: 20px 8px;
    
} 

.right_content .blog_info_upcomeing{
    text-align: center;
    
} 
/* =========for Upcomimg page end========== */
/* footer end */
/* ==============responsive start ==============*/
/* x-small decice */
@media screen and  (max-width:412px) {
    #banner{
        width: 100vw;
        height: auto;
    }
    .banner_items{
        display: block;
    }
    .banner_info{
        
        margin: 0 auto;
    }
    h1{
        padding-top: 30px;
        font-size: 33px;
        line-height: 50px;
    }
    .banner_image{ 
        margin: 0 auto;
    }
    .banner_image  img{
        margin-top: 80px;
    }
    
    /* banner responsive part end*/
    /* main responsive part start*/
    #main{
        display: block;
    }
    .main_content{
        display: block;
    }
    .left_content{
        width: 100vw;
    }
    .left_button_items ul{
        margin-left: 40px;
        
    }
    .right_content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
       
    }
    .blogs{
        width: 100vw;
    }
    .blog_image img{
        width: 90%;
    }
    /* foooter */
    footer{
        width: 100vw;
        height: auto;
    }
    .menu ul {
        display: block; 
    }
    .menu ul li{
        text-align: center;
        padding-bottom: 20px;
    }
    .right_content .blog_info h4{
        font-size: 12px;
        margin-bottom: 4px;
    }
    footer{
        width: 100vw;
        height: auto;
    }
    .menu ul {
        display: block; 
    }
    .menu ul li{
        text-align: center;
        padding-bottom: 20px;
    }
    
}
/* -------------  mobile device  --------------- */
@media screen and (min-width:413px) and (max-width:576px) {
      
    #banner{
        width: 100vw;
    }
    .banner_items{
        display: block;
    }
    .banner_info{
        margin-left: 2%;
        margin-right: 0;
    }
    h1{
        padding-top: 60px;
        font-size: 2em;
        line-height: 50px;
    }
    .banner_image{ 
        margin: 0 auto;
        padding-left: 0px;
    }
    .banner_image  img{
        margin-top: 10px;
    }
    
    /* banner responsive done */
    /* main responsive */
    #main{
        display: block;
    }
    .main_content{
        display: block;
    }
    .left_content{
        width: 100vw;
    }
    .right_content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .left_button_items>ul {
        margin-left: 5%;
     }
    .blogs{
        width: 100vw;
    }
    .blog_image img{
        width: 100vw;
    }
    .right_content .blog_info h4{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .right_content .blog_info {
        
        padding: 10px;
        
    }
    .right_content .blog_info .icon{
        margin-bottom: 8px;
        
    }
    /* responsive footer */
    footer{
        width: 100vw;
        height: auto;
    }
    .menu ul {
        display: block; 
    }
    .menu ul li{
        text-align: center;
        padding-bottom: 20px;
    }

}
/* ---------tablet device--------------- */
@media screen and (min-width:577px) and (max-width:992px) {
    
    #banner{
        width: 100vw;
        
    }
    .banner_items{
        width: 100vw;
        
    }
    h1{
        padding-top: 10px;
        font-size: 42px;
        line-height: 50px;
    }
    
    .banner_info{
        height: 450px;
        padding-left: 4%;
    }
    .banner_button { 
        padding-top: 30px;  
        padding-bottom: 10px;

    }
    
    .banner_image  img{
        margin-top: 20px;
        margin-left: 4%;
    }
    #main{
        display: block;
    }
    .main_content{
        display: block;
    }
    .left_content{
        width: 100vw;
        
    }
    .left_button_items{
        background:#160f0f0a;
        height: 100px;
    }
    .left_button_items ul{
        display: flex;
        justify-content: center;
        
        
    }
    .left_button_items ul li{ 
        margin-left: 20px;
        box-shadow:0px 1px 4px 1px #757c7562 ;
    }
    .right_content{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .right_content .for_tablet{
        display: none;
       
    }
    .right_content .hidden_item {
        
        visibility: visible;
    
    }

}
/* ===========responsive end =================*/
